meta {
    -theme-interface-style: light;
    -theme-vibrancy: vibrant;
    -theme-accent-color: auto;
}

/* Window Styles */
meta.window {
    background-color: #E7E7E7;
    border-color: #D0CFD0;
}
meta.titlebar {
    color: #000;
    background-color: linear-gradient(#CDCDCD, #E5E5E5);
    border-color: #A1A1A1;
}
meta.titlebar.inactive {
    background-color: #E5E5E5;
}

/* Buttons & Fields */
meta.button {
    color: #272727;
    background-color: white;
    border-color: #D3D3D3;
}
meta.button.highlighted {
    background-color: linear-gradient(#EEEEEE, #FAFAFA);
}
meta.button.selected {
    color: white;
    background-color: #367Af5;
    border-color: #2C64CA;
}
meta.button.highlighted.selected {
    background-color: linear-gradient(#2C64CA, #367Af5);
}
meta.textfield {
    background-color: white;
    border-color: #D3D3D3;
}


/* Document styles */
meta.document {
    background-color: white;
    border-color: hsba(0, 0%, 100%, 0.1);
}
meta.text {
    color: black;
}
meta.cursor {
    background-color: #FAFAFA;
}
meta.text.invisible {
    color: #D44A21;
}
meta.indentguide {
    border-color: #E0E0E0;
}
meta.gutter {
    color: #CCCCCC;
    background-color: #FAFAFA;
}
meta.gutter.selected {
    color: #333333;
    background-color: #FAFAFA;
}

/* Syntax styles */
keyword {
    color: #881350;
}
comment {
    color: #236E25;
    font-style: italic;
}
processing {
    color: #236E25;
}
declaration {
    color: #000;
}
bracket,
operator {
    color: #000;
}
invalid {
    color: white;
    background-color: #FF0000;
}
link {
    color: rgb(218, 10%, 80%);
}

/* Values */
value {
    color: #994500;
}
value.boolean,
value.null {
    color: #881350;
}
value.number {
    color: #1739f6;
}
value.entity,
value.symbol,
value.symbols {
    color: #881350;
}

/* Strings */
string,
string-template,
string-template.value {
    color: #1A1AA6;
}
string.key {
    color: black;
}
regex {
    color: #661AA9;
}
string.escaped,
regex.escaped {
    color: #BE73FD;
}
cdata {
    color: #FF0000;
}

/* Identifiers */
identifier.global,
identifier.type {
    color: #881350;
}
identifier.variable,
identifier.argument {
    color: #825900;
}
identifier.type.class,
identifier.type.protocol,
identifier.type.enum,
identifier.type.union,
identifier.type.struct {
    color: #661AA9;
}
identifier.constant,
identifier.property,
identifier.key {
    color: black;
}
identifier.decorator {
    color: #881350;
}
identifier.function {
    color: #003369;
}
identifier.method {
    color: #661AA9;
}

/* Definitions */
definition,
definition.property {
    color: black;
}
definition.type {
    color: #881350;
}
definition.class,
definition.package,
definition.protocol,
definition.enum,
definition.union,
definition.struct,
definition.method {
    color: #661AA9;
}
definition.function {
    color: #003369;
}

/* Tags */
tag {
    color: #881280;
}
tag.framework {
    color: #DD0000;
}
tag.attribute.name {
    color: #994500;
}
tag.attribute.value {
    color: #1A1AA6;
}
tag.attribute.value.link {
    color: rgb(0, 76, 203);
}

/* Style */
style.at {
    color: black;
    font-weight: bold;
}
style.selector.element,
style.selector.identifier.id,
style.selector.identifier.class {
    color: black;
}
style.selector.pseudoclass,
style.selector.pseudoelement {
    color: #a15b1e;
}
style.attribute.name {
    color: #88134F;
}
style.value.number {
    color: #1838f5;
}
style.value.color.named {
    color: #a15b1e;
}
style.value.color.hex {
    color: #760F15;
}
